.collection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Four columns of equal width */
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr)); /* Four columns of equal width */
    gap: 20px; /* Consistent gap between rows and columns */
    padding: 20px;
    justify-content: center; /* Center items horizontally */
    max-width: 1000px;
    height: 100%;
    margin: auto;
}

.card-set-collection-view-set, .card-set-new {
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 200px; /* Fixed height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    overflow: hidden;
}

.card-set-collection-view-set:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.card-set-new {
    background-color: #ffffff;
    box-shadow: none;
    border: 2px dashed #ccc;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.add-new-content {
    font-size: 24px;
    color: #333;
}