.card-set {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 600px; /* Match the width of the card-container */
    margin: auto; /* Center the card-set in the viewport */
    position: relative; /* Necessary for absolute positioning of children */
}

.back-icon {
    left: 0; /* Adjust this to position to the left of the card */
    font-size: 24px;
    color: #333;
    cursor: pointer;
}

.cards-counter {
    position: relative;
    right: 50%;
}

.card-set-header {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Space out items */
    padding-bottom: 10px;
    width: 100%;
}

.shuffle-icon {
    position: absolute;
    right: 0;
    font-size: 24px;
    color: #333;
    cursor: pointer;
}